.topNewsDiv {
    display: flex;
    position: relative;
    background-color: rgb(226, 7, 7);
    margin: auto;
    flex-wrap: wrap;
    padding-top: 3%;
    padding-bottom: 3%;
}

.singleNews {
    background-color: rgb(20, 6, 6);
    font-size: 15px;
    margin: auto;
    display: table;
    margin-bottom: 3%;
    margin-top: 3%;
    border: solid 2px;
    box-shadow: 2px 2px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 30%;
    color: wheat;
}

.moreDiv {
    float: right;
}

.moreDiv:hover {
    font-size: 17px;   
}

.centeredSpinner {
    display: table;
    margin: auto;
}